body {
    background-color: #eee;
    font-family: 'Raleway', sans-serif;
}
.h4, h4 {
    margin-left: 85px;
}
.studentName{
    margin-left: 85px;
}
.Table {
    display: table;
    padding: 0 0 0 85px;
    table-layout: fixed;
}
.Row {
    display: table-row;
}
.Cell {
    display: table-cell;
    border-width: thin;
    border: ridge;
    padding :0 5px 0 5px;
    min-width: 232px;
    max-width: 150;
}
.CellHeadings {
    display: table-cell;
    border-width: thin;
    border: ridge;
    padding :0 5px 0 5px;
    min-width: 232px;
    max-width: 150;
    font-size: 22px;
}
