body {
    background-color: #eee;
    font-family: 'Raleway', sans-serif;
}
.h4, h4 {
    margin-left: 265px;
    font-weight: 700;
}
.studentName{
    margin-left: 85px;
}
.Table {
    display: table;
    table-layout: fixed;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
}
.Row {
    display: table-row;
}
.listClass {
    display: table-row;
}
.FailedRow {
    display: table-row;
    background: red;
}
.FailedRow .Cell {
  background-color: red;
  color: #fff;
}
a,span:hover {
  cursor: pointer;
}
.Cell {
    display: table-cell;
    border-width: thin;
    border-top: 1px solid #eee;
    background: #fff;
    padding : 14px 10px;
    min-width: 232px;
    max-width: 150;
    font-size: 20px;
    color: #a9a9a9;
}
.CellHeadings {
    display: table-cell;
    border-width: thin;
    border-top: 1px solid #eee;
    background: #fff;
    padding : 14px 10px;
    min-width: 232px;
    max-width: 150;
    font-size: 15px;
    color: #a9a9a9;
}
.SearchWrapper {
    margin-left: 265px;
    font-size: 16px;
}
.mainNavigation a {
  padding: 10px;
  margin: 10px;
}
